<h1>All statuses</h1>

<p>
  <%= link_to "Create new post", new_status_path, class:"btn btn-primary" %>
</p>
<% @statuses.each do |status| %>
<div class="status">
  <p> <strong><%= status.name %></strong></p>
  <p> <%= status.content %> </p>
  <p>
    <%= link_to "Show", status %>
    <span class="admin">
    | <%= link_to "Edit", edit_status_path(status) %>
    |       
    <%= link_to "Delete", status, method: :delete, data:{confirm: "Are you sure?"} %>
      
    </span>
  </p>
</div>
<% end %>